body {
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  .board-row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #000;
    &:last-child {
      border-bottom: none;
    }
    .square {
color: #CCFF00;
      width: 80px;
      height: 80px;
      border-right: 2px solid #000;
      font-size: 2.5rem;
      padding: 0;
      transition: all 0.2s;
      &:last-child {
        border-right: none;
      }
    }
  }
}


$blue:#4c43d4
;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $blue;
  color: #12e177;
}
.history {
justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: white}
li{
list-style-type: none;
}
ul{
padding: 0px;}
.btn-start{
border: 1px solid #FFFF66;
 background-color: #CCFF00;
  font-size: 20px;
margin:10px;
margin-top: 20px;
padding:10px;
border-radius: 5px;
&:hover{
margin:8px;
margin-top: 18px;
padding: 12px;
}
}

.active{
justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #12e177;
}